@model Blog.MVC.ViewModels.BlogViewModel
@{
    Layout = "_Layout";
}

@Html.ActionLink("Create Post", "Create", "Home")
<hr/>

@if(Model.Posts.Count() > 0)
{
    foreach(var post in Model.Posts)
    {
        @Html.Partial("_PostTemplate", post)
    }
}
else
{
    <p>No Posts</p>
}
